.idea/AI_fruit_catcher.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
fruit-catcher-students/__pycache__/game.cpython-313.pyc
fruit-catcher-students/__pycache__/genetic.cpython-313.pyc
fruit-catcher-students/__pycache__/nn.cpython-313.pyc
fruit-catcher-students/__pycache__/dt.cpython-313.pyc
fruit-catcher-students/__pycache__/dt.cpython-313.pyc
fruit-catcher-students/__pycache__/genetic.cpython-313.pyc
fruit-catcher-students/__pycache__/main.cpython-313.pyc
fruit-catcher-students/__pycache__/nn.cpython-313.pyc
